@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?k7zld9');
  src: url('../fonts/icomoon.eot?k7zld9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?k7zld9') format('truetype'),
    url('../fonts/icomoon.woff?k7zld9') format('woff'),
    url('../fonts/icomoon.svg?k7zld9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_arrow_forward_24px:before {
  content: "\e900";
}

.icon-ic_mail_outline_24px:before {
  content: "\e901";

}

.icon-ic_phone_48px:before {
  content: "\e902";

}

.icon-ic_social_fb:before {
  content: "\e903";

}

.icon-ic_social_ig:before {
  content: "\e904";

}

.icon-ic_social_line:before {
  content: "\e905";

}

.icon-iconfinder_44_2529968:before {
  content: "\e906";

}

.icon-iconfinder_circle-dollar:before {
  content: "\e907";

}

.icon-iconfinder_clock:before {
  content: "\e908";

}

.icon-iconfinder_glasses:before {
  content: "\e909";

}

.icon-iconfinder_heart:before {
  content: "\e90a";

}

.icon-Layer_1:before {
  content: "\e90b";

}

.icon-Page-1:before {
  content: "\e90c";

}