//共同
$main-color:#AA0601;
$main-dark-color:#650300;
$light-bg:#AA06010D;

//響應式
@mixin desktop_below {
	@media (max-width: 1023px) {
		@content;
	}
}

@mixin v-pad {
	@media (max-width: 992px) {
		@content;
	}
}

@mixin pad {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 568px) {
		@content;
	}
}

@mixin small_mobile {
	@media (max-width: 320px) {
		@content;
	}
}

@mixin s-size {
	@media (min-width: 1024px) {
		@content;
	}
}

* {
	box-sizing: border-box;
	transition: all .5s;
}

body,
html {
	font-family: "Roboto", 'Noto Sans TC', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
}

a {
	display: block;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

.d-flex {
	display: flex;
}

.container {
	max-width: 1200px;
	margin: 0 auto;

	@include desktop_below {
		width: 90%;
	}

	@include v-pad {
		width: 90%;
	}

	&.s-container {
		max-width: 792px;
	}

	&.b-container {
		max-width: 1540px;

		@include s-size {
			width: 90%;
		}
	}
}


h3 {
	color: $main-dark-color;
	font-size: 48px;
	text-align: center;
	margin-bottom: 60px;

	@include v-pad {
		font-size: 32px;
		font-weight: 600;
	}

	@include mobile {
		font-size: 24px;
	}

	&.dark {
		color: #000;
		margin-bottom: 24px;
	}

	&.light {
		color: #fff;
	}
}

nav {
	background-color: $main-color;
	height: 108px;
	padding: 0 88px;
	justify-content: space-between;
	align-items: center;
	position: relative;

	@include desktop_below {
		padding: 0 48px;
	}

	@include mobile {
		padding: 0 16px;
		height: 50px;
		justify-content: center;
	}

	.hbg-icon {
		display: none;

		@include mobile {
			display: block;
			color: #ffffff;
			position: absolute;
			left: 16px;
		}
	}

	.logo {
		width: 80px;
		padding: 30px 0;

		@include mobile {
			width: 48px;
			margin: 0 auto;
			padding: 0;
		}
	}

	.dropdown {
		@include mobile {
			position: absolute;
			display: block;
			left: 0;
			top: 100%;
			width: 100%;
			max-height: 0px;
			transition: all .8s;
			overflow: hidden;
			z-index: 120;
		}

		li {

			a {
				color: #fff;
				font-size: 1.25em;
				font-weight: 300;

				@include mobile {
					display: block;
					background: #AA0601;
					color: #FFFFFF;
					border-top: 1px solid #FFFFFF;
					padding: 14px 0;
					height: 60px;
					text-decoration: none;
					text-align: center;
				}
			}

			&+li {
				margin-left: 64px;

				@include mobile {
					margin-left: 0;
				}
			}
		}

		&.active {
			@include mobile {
				max-height: 240px;
			}
		}

	}
}

header {
	background: url(/images/header_banner@2x.png) no-repeat center center;
	background-size: cover;
	padding: 345px 0;

	@include mobile {
		padding: 163px 0;
	}

	h2 {
		text-align: right;
		color: $main-dark-color;
		font-size: 64px;
		line-height: 1.5;

		@include desktop_below {
			font-size: 48px;
		}

		@include mobile {
			font-size: 32px;
		}

		span {
			font-size: 0.56em;
			display: block;
		}
	}
}

section {
	padding: 64px 0;

	@include desktop_below {
		padding: 40px 0;
	}

	&.light-bg {
		background-color: $light-bg;
	}

	&.professional {
		text-align: center;
		padding-bottom: 80px;

		ul {
			flex-wrap: wrap;

			.item {
				width: 25%;
				padding: 0 37px;

				@include desktop_below {
					width: 50%;

					&:nth-child(1n+3) {
						margin-top: 20px;
					}
				}

				@include mobile {
					width: 100%;

					&:nth-child(1n+3) {
						margin-top: 0px;
					}

					&+.item {
						margin-top: 28px;
					}
				}

				img {
					width: 100px;
					height: 100px;
					margin: 0 auto 40px;
				}

				p {
					font-size: 16px;
					line-height: 1.5;
					text-align: left;
				}

				.tit-item {
					font-size: 24px;
					text-align: center;
					color: $main-dark-color;
					margin-bottom: 4px;
				}
			}
		}
	}

	&.classic {
		ul {
			li {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				position: relative;

				img {
					width: 792px;

					@include desktop_below {
						width: 65%;
					}

					@include mobile {
						width: 100%;
					}
				}

				p {
					display: block;
					margin: 0 auto;
					color: $main-color;
					font-size: 48px;
					line-height: 1.5;
					text-transform: uppercase;
					font-weight: 600;
					font-style: italic;

					@include desktop_below {
						font-size: 28px;
					}

					@include mobile {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: #fff;
					}
				}

				&+li {
					margin-top: 32px;

					@include desktop_below {
						margin-top: 8px;
					}
				}

				&:nth-of-type(2) {
					flex-direction: row-reverse;

					@include desktop_below {
						flex-direction: row;
					}
				}
			}
		}
	}

	&.co-branding {
		background: url(/images/co-brand@2x.png) no-repeat center center;
		background-size: cover;
		padding-bottom: 30rem;

		.l-box {
			width: 573px;
			margin-right: 8px;
		}

		.r-box {
			width: 958px;

			.t-pic {
				margin-bottom: 8px;
			}

			.b-pic {
				.b-l-block {
					margin-right: 8px;
				}

				.b-r-block {
					flex-direction: column;
					align-items: flex-end;

					@include mobile {
						align-items: flex-start;
					}

					.b-r-t {
						margin-bottom: 8px;
					}

					.b-r-b {
						position: relative;
						width: 31.66%;
						height: 100%;
						left: -10.1%;
						background: #f6c600;

						@include mobile {
							left: 0;
						}

						.more-btn {
							position: absolute;
							top: 50%;
							left: .8%;
							transform: translateY(-50%);
							padding-left: 10%;

							a {
								width: 134.5%;
								font-size: 4.5em;
								font-weight: 600;
								color: $main-color;
								background-color: #fff;
								padding-left: 32px;

								@include desktop_below {
									font-size: 2em;
									padding-left: 15px;
								}

								@include mobile {
									font-size: 26px;
								}

								i {
									font-size: 60px;
									color: #000;

									@include desktop_below {
										font-size: 0.8em;
									}
								}
							}
						}
					}
				}

			}
		}

		.g-wrap {
			justify-content: space-between;
			margin-top: 60px;

			.c-item {
				width: 48%;
				position: relative;

				&::before {
					position: absolute;
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					background-color: #fff;
					opacity: .5;
				}

				.block_text {
					position: absolute;
					width: 100%;
					top: 50%;
					left: 50%;
					color: $main-color;
					text-align: center;
					font-weight: 600;
					font-size: 72px;
					transform: translate(-50%, -50%);
					margin: 0 auto;

					@include pad {
						font-size: 32px;
					}
				}
			}
		}
	}

	&.customer {
		margin-top: -400px;
		padding-bottom: 80px;

		ul {
			flex-wrap: wrap;

			li {
				width: 23.5%;

				@include desktop_below {
					width: 47.5%;

					&:nth-child(2n+2) {
						margin-left: 24px;
					}

					&:nth-child(1n+3) {
						margin-top: 24px;
					}
				}

				@include mobile {
					width: 100%;

					&:nth-child(2n+2) {
						margin-left: 0;
					}
				}

				.txt-box {
					padding: 16px;
					border: 1px solid #DEE2E6;

					p {
						&.name {
							font-weight: 500;
						}

						&.update {
							color: #707070;
						}

						&+p {
							margin-top: 16px;
						}
					}

				}

				&+li {
					margin-left: 24px;

					@include desktop_below {
						margin-left: 0;
					}

					@include mobile {
						margin-top: 16px;
					}
				}


			}
		}
	}

	&.contact {
		ul {
			margin: 20px auto 42px;

			li {
				label {
					display: block;
				}

				input {
					font-family: "Roboto", 'Noto Sans TC', sans-serif;
					padding: 16px 14px;
					width: 100%;
					background-color: #fbf2f2;
					border: 1px solid #000;

					&::placeholder {
						opacity: .5;
					}

				}


				&+li {
					margin-top: 16px;
				}
			}
		}

		button {
			font-family: "Roboto", 'Noto Sans TC', sans-serif;
			display: block;
			margin: 40px auto;
			padding: 16px 48px;
			border: 0;
			background-color: #AA0601;
			color: #fff;
			font-size: 16px;
			letter-spacing: 1px;
		}
	}
}



footer {
	background-color: $main-color;
	color: #fff;
	padding: 48px 0 36px;

	.f-top {
		padding-bottom: 24px;
		border-bottom: 1px solid #fff;

		.d-flex {
			justify-content: space-between;

			@include mobile {
				justify-content: flex-end;
			}

			.list {
				width: 50%;

				@include v-pad {
					margin-bottom: 24px;
				}

				@include mobile {
					display: none;
				}

				.d-flex {
					li {
						a {
							color: #fff;
							display: block;
						}
					}
				}
			}

			.social {
				li {
					margin-left: 32px;

					@include v-pad {
						width: 24px;
					}
				}
			}
		}

		p {
			a {
				font-size: 36px;
				color: #fff;

				@include v-pad {
					font-size: 20px;
				}

				i {
					margin-right: 12px;
				}
			}
		}
	}

	.f-bottom {
		padding-top: 24px;
		justify-content: space-between;

		@include mobile {
			flex-wrap: wrap;
		}

		.l-item {
			align-items: center;

			img {
				width: 80px;
				margin-right: 38px;

				@include v-pad {
					display: none;
				}
			}
		}

		.r-item {
			ul {
				@include mobile {
					flex-wrap: wrap;
					flex-direction: column;
				}

				li {
					@include mobile {
						margin-top: 8px;
					}

					a {
						color: #fff;
					}

					&+li {
						margin-left: 62px;

						@include mobile {
							margin-left: 0;
						}
					}
				}
			}


		}
	}
}